---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import Main from "../components/Main.astro";
import H1 from "../components/Typography/H1.astro";
import H2 from "../components/Typography/H2.astro";
import InlineLink from "../components/Typography/InlineLink.astro";
import Card from "../components/Card_AnimatedBorder.astro";
import Portrait from "../images/portrait.png";
import Button from "../components/Button.astro";
import CardLink from "../components/React/Card_Link";
import Badge from "../components/Badge.astro";
import Footer from "../components/Footer.astro";

const technologies = [
  "TypeScript",
  "JavaScript (ES6+)",
  "CSS",
  "React",
  "TailwindCSS",
  "Astro",
  "NextJS",
  "Node.js",
  "Express",
  "PostgreSQL",
];

const projects = await getCollection("projects", ({ data }) => {
  return data.featured;
});

const projectsReversed = projects.reverse();

const posts = await getCollection("posts");
---

<Layout title="Kyle Kettler | Software Developer">
  <Main>
    <div class="flex animate-fade-in flex-col gap-16">
      <div>
        <div
          class="mb-8 flex flex-col items-start gap-4 sm:flex-row sm:items-center"
        >
          <Image
            src={Portrait}
            alt="headshot"
            width={140}
            height={140}
            class="rounded-[3rem] ring-4 ring-teal-200"
            densities={[1.5, 2]}
          />
          <div class="flex flex-col gap-2 pr-8 sm:pr-16">
            <H1>
              Hi, I'm Kyle. <span class="font-light text-zinc-300"
                >I'm a software developer and hobbyist game dev.</span
              >
            </H1>
            <div class="flex gap-2">
              <Button to="https://github.com/kttlr" text="Github" />
              <Button
                to="https://www.linkedin.com/in/kylekettler/"
                text="LinkedIn"
              />
              <Button to="mailto:hello@kylekettler.com" text="Email Me" />
            </div>
          </div>
        </div>
        <div>
          <Card>
          <p class="font-light leading-7 text-zinc-300">
              After a decade as a graphic and product designer, I moved into software development full-time. 
              Currently I am a product engineer at a fintech startup. In my free time I am working on my first commercial game.
          </p>
          </Card>
        </div>
      </div>
      <div>
        <div class="mb-4">
          <H2>Posts</H2>
        </div>
        <div class="space-y-3">
        {
          posts.map((post) => (
            <a
              href={`/posts/${post.slug}`}
              class="flex items-center justify-between transition-colors duration-300 hover:text-teal-200"
            >
              <h3>{post.data.title}</h3>
              <time
                class="text-xs font-light text-zinc-400"
                datetime={post.data.date.toLocaleDateString(undefined, {
                  month: "numeric",
                  day: "numeric",
                  year: "numeric",
                })}
              >
                {post.data.date.toLocaleDateString(undefined, {
                  month: "numeric",
                  day: "numeric",
                  year: "numeric",
                })}
              </time>
            </a>
          ))
        }
        </div>
      </div>
      <div class="flex flex-col gap-4">
        <H2>Things I've worked on</H2>
        {
          projectsReversed.map((p) => (
            <a href={`/projects/${p.slug}`}>
              <CardLink client:visible>
                <div class="mb-4 flex items-center justify-between">
                  <h2 class="text-2xl font-semibold">{p.data.title}</h2>
                  <p class="text-xs font-light text-zinc-400">{p.data.date}</p>
                </div>
                <p class="mb-6 text-sm">{p.data.description}</p>
                <h3 class="mb-2">Stack</h3>
                <div class="flex flex-wrap gap-3 text-sm font-light text-zinc-300">
                  {p.data.stack.map((tech) => (
                    <Badge text={tech} />
                  ))}
                </div>
              </CardLink>
            </a>
          ))
        }
      </div>
      <div class="mt-12 flex flex-col gap-4 text-zinc-200">
        <p class="text-xs">
          This site uses the Brockmann typeface by <InlineLink
            to="https://www.atipofoundry.com/"
            blank
          >
            Atipo Foundry
          </InlineLink>.
        </p>
      </div>
      <Footer />
    </div>
  </Main>
</Layout>
